@mixin gradient($start, $end) {
	background: $start; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  $start 0%, $end 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,$start), color-stop(100%,$end)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  $start 0%,$end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  $start 0%,$end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  $start 0%,$end 100%); /* IE10+ */
	background: linear-gradient(135deg,  $start 0%,$end 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start', endColorstr='$end',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
@mixin text-gradient($start, $end) {
	background: -webkit-gradient(linear,left top,right top,from($start),to($end));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: $start;
}
@mixin cover() {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;	
}

.hero {
	text-align: center;
	max-width: 742px;
	margin: 0 auto;
	.pull-left {
		text-align: right;
		span {
			margin-bottom: 3px;
		}
	}
	.pull-right {
		text-align: left;
		padding-left: 1em;
		padding-top: 86px;
	}
}






.animate-before {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateZ(0);
	-webkit-filter: blur(5px);
	-webkit-transition: -webkit-filter 2.2s ease, opacity 1s ease;
}
.animate-before-2 {
	-webkit-transition: -webkit-filter 2.3s ease, opacity 1.5s ease;
}
.animate-before-3 {
	-webkit-transition: -webkit-filter 2.4s ease, opacity 2s ease;
}
.animate-before-4 {
	-webkit-transition: -webkit-filter 2.5s ease, opacity 2.5s ease;
}
.animate-after {
	visibility: visible;
	opacity: 1;
	-webkit-filter: blur(0px);
}



@media (max-width: 767px) {
	.hero {
		max-width: 440px;
		.pull-left {
			float: none;
			text-align: inherit;
		}
		.pull-right {
			padding: 24px 12px 0;
			text-align: inherit;
		}
	}
	.animate-before {
		opacity: 1;
		visibility: visible;
		-webkit-filter: blur(0);
	}
}
@media (max-width: 320px) {
	.hero .pull-right {
		padding: 12px 12px 0;
	}
	.hero p.f-large {
		padding-bottom: 26px;
	}
}











section {
	position: relative;
	padding: 0 15px;
	&.dark {
		color: white;
	}
	&.bg-white {
		background: white;
	}
	&.bg-blue {
		@include gradient(#0c1707, #243638);
		.text {
			position: relative;
			@include text-gradient(#fdeeb5, #e95f5c);
		}
		a {
			color: #A6BDE0;
		}
	}
	&.bg-green {
		@include gradient(#253F30, #122C24);
		.text {
			position: relative;
			@include text-gradient(#b5af89, #f3f5ea);
		}
		input, textarea {
			background: #101519;
			background: rgba(#101519, 0.4);
			color: #f3f5ea;

			border-color: #5D796D;
			&:focus {
				outline: none;
				border-color: #9AC0AB;				
			}
			$placeholderColour: #5D796D;
			&::-webkit-input-placeholder {
			   color: $placeholderColour;
			}
			&:-moz-placeholder { /* Firefox 18- */
			   color: $placeholderColour;  
			}
			&::-moz-placeholder {  /* Firefox 19+ */
			   color: $placeholderColour;  
			}
			&:-ms-input-placeholder {  
			   color: $placeholderColour;  
			}
		}
		a,
		button {
			color: #EC604C;
		}
	}
	.text {
		a {
			-webkit-text-fill-color: initial;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
			&:active {
				position: relative;
				top: 1px;
			}
		}
		form {
			-webkit-text-fill-color: initial;
		}
	}
	canvas {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;	
	}
}
#bokeh {
	@include cover;
	overflow: hidden;
	@mixin bokeh-shadow($colour) {
		box-shadow: 0 0 40px 20px $colour;
	}
	&:after {
		content: "";
		display: block;
		background: url('../images/noise.png');
		background-size: 250px 250px;
		@include cover;
	}
	.item {
		div {
			opacity: 0;
			transition: all 10s ease;
			width: 150px;
			height: 150px;
			background-size: 150px 150px;
			transform: translate3d(-50%, -50%, 0px);
		}
	}
	.particle {
		position: absolute;
	}
}