.superscript {
	margin-bottom: 3px;
}
.hi-im {
	padding-right: 313px;
}
.short-width {
	max-width: 380px;
}
.offset-top {
	padding-top: 154px;
}
.offset-top-large {
	padding-top: 144px;
}
.me {
	border-radius: 50%;
	margin-bottom: 18px;
	box-shadow: 0 2px 5px rgba(black, 0.15), 0 0 20px rgba(black, 0.12);
}
.img-viewer {
	position: relative;
	background: #eee;
	height: 90vh;
	overflow: hidden;
	&:after {
		content: "";
		@include cover;
		box-shadow: inset 0 2px 5px rgba(black, 0.25), inset 0 0 20px rgba(black, 0.4);
	}
	img {
		position: absolute;
		height: 100%;
	}
}
h1 + p {
	clear: right;
}


.animate-before {
	visibility: hidden;
	opacity: 0;
	-webkit-transform: translateZ(0);
	-webkit-filter: blur(5px);
	-webkit-transition: -webkit-filter 2.2s ease, opacity 1s ease;
}
.animate-before-2 {
	-webkit-transition: -webkit-filter 2.3s ease, opacity 1.5s ease;
}
.animate-before-3 {
	-webkit-transition: -webkit-filter 2.4s ease, opacity 2s ease;
}
.animate-before-4 {
	-webkit-transition: -webkit-filter 2.5s ease, opacity 2.5s ease;
}
.animate-after {
	visibility: visible;
	opacity: 1;
	-webkit-filter: blur(0px);
}



@media (max-width: 767px) {
	.hero {
		max-width: 440px;
	}
	.animate-before {
		opacity: 1;
		visibility: visible;
		-webkit-filter: blur(0);
	}
}
@media (max-width: 320px) {
}











section {
	position: relative;
	padding: 0 15px;
	&.dark {
		color: white;
	}
	&.bg-white {
		background: white;
	}
	&.bg-blue {
		@include gradient(#0c1707, #243638);
		.text {
			position: relative;
			@include text-gradient(#fdeeb5, #e95f5c);
		}
		a {
			color: #A6BDE0;
		}
	}
	&.bg-black {
		@include gradient(#000, #3d3d3d);
		.text {
			position: relative;
			@include text-gradient(#fff, #e0e0e0);
		}
		a,
		button {
			$yellow: #ffb800;
			color: $yellow;
			border-color: initial;
			border-width: 2px;
			box-shadow: 0 2px 5px rgba($yellow, 0.15), 0 0 20px rgba($yellow, 0.12);
			&:hover {
				box-shadow: 0 2px 8px rgba($yellow, 0.35), 0 0 30px rgba($yellow, 0.17);
				&:active {
					box-shadow: none;
					border-color: initial;
				}
			}
		}
	}
	&.bg-wheat {
		@include gradient(#c6bfad, #d1d2cd);
		.text {
			position: relative;
			color: #333;
			// @include text-gradient(#b5af89, #f3f5ea);
		}
		a {
			&:hover {
				color: #b15a3c;
			}
		}
	}
	.text {
		a,
		button {
			-webkit-text-fill-color: initial;
		}
	}
}