.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.grid-4-12 {
	width: 33.33%;
}
.grid-5-12 {
	width: 41.66%;
}
.grid-6-12 {
	width: 50%;
}
.grid-7-12 {
	width: 58.33%;
}
.grid-8-12 {
	width: 66.66%;
}
@media (max-width: 767px) {
	.grid-4-12,
	.grid-5-12,
	.grid-6-12,
	.grid-7-12,
	.grid-8-12 {
		width: 100%;
	}
}

form > * {
	margin-top: 12px;
}
form > *:first-child {
	margin-top: 0;
}
input,
textarea {
	width: 300px;
	padding: 5px 7px 2px;
	background: white;
	background: rgba(255,255,255, 0.8);
}
::-webkit-input-placeholder {
   color: inherit;
}
:-moz-placeholder { /* Firefox 18- */
   color: inherit;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: inherit;  
}
:-ms-input-placeholder {  
   color: inherit;  
}