@font-face {
  font-family: "ATC Overlook";
  src: url("../fonts/ATCOverlook-Heavy.eot");
  src: url("../fonts/ATCOverlook-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/ATCOverlook-Heavy.woff") format("woff"), url("../fonts/ATCOverlook-Heavy.ttf") format("truetype"), url("../fonts/ATCOverlook-Heavy.svg#e66f84803eb699012366a69da3d2a854") format("svg");
  font-style: normal;
  font-weight: 600; }

*,
*:before,
*:after {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix {
  zoom: 1; }
  .clearfix:before {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both; }

nav ul,
ul.grid {
  list-style: none; }

html {
  margin: 0 !important;
  font-family: "Sorts Mill Goudy", Georgia, Serif;
  font-size: 20px; }

body {
  line-height: 1.5;
  color: #222222;
  border-left: 20px solid black;
  border-right: 20px solid black;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
  position: relative; }
  body.has-header {
    padding-top: 44px; }

p {
  font-size: 1rem;
  word-wrap: break-word; }

p + p,
blockquote + p,
p + blockquote {
  margin-top: 1rem; }

h1, h2, h3, h4 {
  margin: 1.414rem 0 0.5rem;
  font-weight: inherit;
  line-height: 1.2; }

h1, h2, h3 {
  font-family: "ATC Overlook", Lucida Sans Unicode, Lucida Grande, sans-serif;
  font-weight: bold;
  text-transform: uppercase; }

h1 {
  margin-top: 0;
  font-size: 3.998rem;
  line-height: 1;
  text-align: center; }

h2 {
  font-size: 2.827rem; }

h3 {
  font-size: 1.999rem; }

h4 {
  font-size: 1.414rem; }

small {
  font-size: 0.707rem; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

ul {
  padding-left: 1.414rem; }

blockquote {
  display: table;
  font-style: italic;
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 auto 0.25rem;
  padding: 0.5rem 0.5rem 0.25rem 1.414rem;
  border-left: 4px solid #222222; }
  blockquote:before {
    content: "\201c"; }
  blockquote:after {
    content: "\201d"; }

a {
  color: inherit;
  text-decoration: underline;
  cursor: pointer; }
  a:hover, a:active {
    color: #e70d31; }
  a:active {
    position: relative;
    top: 1px; }

img, iframe {
  display: block;
  width: 100%; }

header {
  position: fixed;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 1;
  height: 44px;
  font-size: 22px;
  background: white;
  box-shadow: 0 0 5px #222222; }
  header ul {
    display: table;
    margin: 0 auto;
    padding: 0; }
  header li {
    display: block;
    float: left;
    margin: 12px 15px 7px; }
    header li:hover, header li.active {
      border-bottom: 3px solid #e70d31; }
    header li:first-child {
      display: none; }
      header li:first-child:hover, header li:first-child.active {
        border-bottom: none;
        color: #e70d31; }
  header a {
    display: block;
    line-height: 1;
    text-decoration: none; }
    header a:hover {
      color: inherit; }

.mobile-nav {
  display: none;
  position: absolute;
  left: -130px;
  top: 0;
  z-index: 1;
  width: 120px;
  height: 100%;
  font-size: 22px;
  background: #222222;
  color: white; }
  .mobile-nav ul {
    padding: 0; }
  .mobile-nav li {
    display: block;
    margin: 4px 0; }
    .mobile-nav li:hover, .mobile-nav li.active {
      border-right: 5px solid #e70d31; }
  .mobile-nav a {
    display: block;
    text-decoration: none;
    padding: 3px 12px 0; }

.mobile-nav-closer {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1; }

section {
  max-width: 1440px;
  margin: 0 auto; }
  section > article {
    padding: 1.414rem; }

.paragraph {
  margin-bottom: 1.414rem; }

h3.title,
.paragraph p,
.paragraph ul {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto; }

blockquote {
  max-width: 920px; }

.responsive-video {
  position: relative;
  padding-bottom: 56.25%; }
  .responsive-video iframe {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }

.important {
  color: #e70d31;
  cursor: pointer; }

.cta {
  display: table;
  margin: 2.827rem auto 1.999rem;
  padding: 10px 20px;
  border: 2px solid #222222;
  text-decoration: none; }
  .cta:hover {
    border-color: #e70d31; }
  .cta:active {
    background: #e70d31;
    border-color: white;
    color: white; }
  .cta h3 {
    display: block;
    margin: 0;
    line-height: 1; }

.hero {
  display: table;
  height: 720px;
  width: 100%;
  max-width: none;
  padding: 1.414rem;
  position: relative;
  transition: 0.3s;
  background-size: cover;
  background-position: center; }

.hero-content {
  display: table-cell;
  vertical-align: middle;
  transition: 0.3s; }
  .hero-content h1 {
    margin: 0; }
  .hero-content h3 {
    font-family: "Sorts Mill Goudy", Georgia, Serif;
    text-align: center;
    text-transform: none;
    margin: 0; }

.portfolio-piece .hero-content {
  color: white;
  text-shadow: 1px 1px 0 rgba(34, 34, 34, 0.5), 2px 2px 0 rgba(34, 34, 34, 0.5), 3px 3px 0 rgba(34, 34, 34, 0.5); }

.grid {
  padding: 10px; }

.col-2 {
  position: relative;
  float: left;
  width: 50%;
  padding: 10px; }

.portfolio .description {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  transition: background 0.5s; }
.portfolio h4 {
  display: inline-block;
  background: rgba(34, 34, 34, 0.6);
  padding: 10px 5px 0;
  color: white;
  line-height: 1; }
.portfolio p {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s, opacity 0.5s; }
.portfolio a {
  display: block;
  position: relative; }
  .portfolio a:hover .description {
    background: rgba(255, 255, 255, 0.85); }
  .portfolio a:hover h4 {
    background: none;
    color: #e70d31;
    text-shadow: none; }
  .portfolio a:hover p {
    max-height: 100px;
    opacity: 1; }

@media (min-width: 1490px) {
  html {
    font-size: 22px; }

  .hero {
    height: 920px; }

  .paragraph blockquote {
    max-width: 1020px;
    font-size: 1.414rem; } }
@media (max-width: 768px) {
  html {
    font-size: 20px; }

  body {
    border-width: 15px; }

  header {
    position: absolute;
    left: 0;
    right: 0; }

  .hero {
    padding: 1rem;
    height: 520px; } }
@media (max-width: 568px) {
  html {
    overflow-x: hidden; }

  body {
    left: 0;
    -webkit-transition: left 0.5s;
    transition: left 0.5s; }
    body.mobile-nav-open {
      left: 120px; }
      body.mobile-nav-open .mobile-nav-closer {
        display: block; }

  .mobile-nav {
    display: block;
    left: -135px; }

  h1 {
    font-size: 2.827rem; }

  h2 {
    font-size: 1.999rem; }

  h3 {
    font-size: 1.414rem; }

  h4 {
    font-size: 1rem; }

  header ul {
    margin: 0; }
  header li {
    display: none; }
  header li:first-child,
  header li.active {
    display: block; }

  section > article {
    padding: 0 1.414rem; }

  .col-2 {
    width: 100%; }

  .hero {
    height: 320px; }

  .cta {
    margin-top: 1.999rem; } }
@media (max-width: 480px) {
  html {
    font-size: 18px; }

  body {
    border-width: 10px; }

  .mobile-nav {
    left: -130px; }

  .hero {
    height: 240px; }

  .paragraph {
    padding: 0; } }
@media (max-width: 320px) {
  html {
    font-size: 16px; }

  body {
    border-width: 5px; }

  .mobile-nav {
    left: -125px; }

  section > img.image-tilt {
    width: 150%;
    margin-left: -25%; } }
@media (max-height: 320px) {
  html {
    font-size: 16px; }

  .scroll-down {
    bottom: -15px; } }
