@font-face {
	font-family: 'ATC Overlook';
	src: url('../fonts/ATCOverlook-Heavy.eot');
	src: url('../fonts/ATCOverlook-Heavy.eot?#iefix') format("embedded-opentype"),
	url('../fonts/ATCOverlook-Heavy.woff') format("woff"),
	url('../fonts/ATCOverlook-Heavy.ttf') format("truetype"),
	url('../fonts/ATCOverlook-Heavy.svg#e66f84803eb699012366a69da3d2a854') format("svg");
	font-style: normal;
	font-weight: 600;
}



body {
	font-family: "Merriweather", Georgia, Serif;
	font-size: 24px;
	line-height: 30px;
	color: black;
	-webkit-text-size-adjust: none;
	overflow-x: hidden;
}

.uppercase {
	text-transform: uppercase;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

h1,h2,h3,h4 {
	font-family: "ATC Overlook", Arial, sans-serif;
	font-weight: bold;
}
h1 {
	font-size: 96px;
	line-height: 72px;
	margin-bottom: 2px;
	padding-bottom: 12px;
}
h2 {
	font-size: 72px;
	line-height: 60px;
	margin-bottom: -1px;
	padding-bottom: 12px;
}
h3 {
	font-size: 48px;
	line-height: 48px;
	margin-bottom: -5px;
	padding-bottom: 12px;
}
h4 {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: -6px;
	padding-bottom: 12px;
}
.f-large {
	font-size: 30px;
	line-height: 36px;
	margin-bottom: -9px;
}
.f-medium {
	font-size: 24px;
	line-height: 30px;
	margin-bottom: -8px;
}
.f-small {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: -7px;
}
// p {
// 	&.f-large {
// 		padding-bottom: 36px;
// 		max-width: 36em;
// 	}
// 	&.f-medium {
// 		padding-bottom: 30px;
// 	}
// 	&.f-small {
// 		padding-bottom: 18px;
// 	}
// }
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	&:hover {
		text-decoration: underline;
	}
	&.button:hover {
		text-decoration: none;
	}	
	&:active {
		position: relative;
		top: 1px;
	}
}
button,
.button {
	font-family: "ATC Overlook";
	font-size: 24px;
	text-transform: uppercase;
	padding: 5px 30px 8px;
	margin-top: 36px;
	background: none;
	border: 1px solid #ddd;
	cursor: pointer;
	background-size: cover;
	background-position: center;
	position: relative;
	box-shadow: 0 2px 5px rgba(black, 0.15), 0 0 20px rgba(black, 0.12);
	transition: box-shadow 0.5s ease;
	&:hover {
		box-shadow: 0 2px 8px rgba(black, 0.35), 0 0 30px rgba(black, 0.17);
		&:active {
			box-shadow: 0 0 5px rgba(black, 0.1);
			border-color: #bbb;
			transition: box-shadow 0.05s ease;
		}
	}

	&:focus {
		outline: none;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 60px;
		line-height: 48px;
		margin-bottom: 0px;
	}
	h2 {
		font-size: 48px;
		line-height: 48px;
		margin-bottom: -5px;
	}
	h3 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: -6px;
	}
	h4 {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: -5px;
	}
	.f-large {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: -8px;
	}
	.f-medium {
		font-size: 18px;
		line-height: 24px;
		margin-bottom: -7px;
	}
	.f-small {
		font-size: 14px;
		line-height: 18px;
		margin-bottom: -5px;
	}
}