---
layout:                default

title: Fulfilling a childhood ambition and a gap in the market
---


<div class="Page Page--split">
	<div class="container Page-container">
		<div class="Page-hero">
			<h1>Fulfilling a childhood ambition and a gap in the market</h1>

			<img src="/assets/images/work/aeroster/hero.png" class="Page-heroImage">
		</div>

		<div class="Page-subhero">
			<div class="grid">
				<div class="grid-item when-lg-6">
					<h4>
						<p>Smarter rosters for pilots and cabin crew</p>
						<p class="font-serif color-muted">A 10 week accelerated sprint</p>
					</h4>

					<div class="Page-introduction m-top--lg">
						<p>Chris approached me to help design an app he’d been thinking about since he was a kid. His dad was a pilot, and was in and away from home non-stop. The golden rule was the roster, but they were incomprehensible, especially to a 6-year-old.</p>

						<p>Chris had been accepted into the <em><a href="http://avroaccelerator.qantas.com/">Qantas AVRO Accelerator Program</a></em>. He had 12 weeks in total, and he was already two weeks in. We needed to build him something to present to investors at the end of the program.</p>
					</div>

					<button class="button m-top--lg">Launch the site</button>
				</div>
				<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0">
					<ul class="Page-jumpLinks">
						<li class="Page-jumpLinks-title">
							Jump to
						</li>
						<li>
							<a href="#pair">
								<img class="icon" src="/assets/icon/pair.svg">
								Pair designing
							</a>
						</li>
						<li>
							<a href="#rebrand">
								<img class="icon" src="/assets/icon/paint.svg">
								A sudden re-brand
							</a>
						</li>
						<li>
							<a href="#mobile">
								<img class="icon" src="/assets/icon/iphone.svg">
								Mobile-first, desktop-best
							</a>
						</li>
						<li>
							<a href="#illustrations">
								<img class="icon" src="/assets/icon/illustrations.svg">
								Quick-and-beautiful illustrations
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

		
		<div class="Page-content">
			<section class="Page-section" id="pair">
				<h2 class="m-bottom--lg">
					<p>Pair designing</p>
					<p class="font-serif color-muted">I can’t take all the credit for this one</p>
				</h2>
				<div class="grid">
					<div class="grid-item when-lg-6">
						{% include carousel.html style="left" image1="/assets/images/work/aeroster/optimised/emila1.png" image2="/assets/images/work/aeroster/optimised/emila2.png" image3="/assets/images/work/aeroster/optimised/emila3.png" description="Thank you Emila :)" %}
					</div>

					<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0">
						<p>Unfortunately, I was tied up with other projects and wasn’t able to start working immediately. Chris’ schedule was tight, so I got some help from my friend and excellent designer Emila. She worked the first few weeks designing the wireframes and user flows, and then I took over. So I had a pretty good base to start with.</p>
					</div>
				</div>
			</section>

			<section class="Page-section" id="rebrand">
				<h2 class="m-bottom--sm when-lg-m-bottom--lg">
					<p>A sudden re-brand</p>
					<p class="font-serif color-muted">Out with the new, in with the newer</p>
				</h2>

				<div class="grid">
					<div class="grid-item when-lg-6">
						<p>Chris had contracted out branding to an agency, so my first step was to start turning Emila’s wireframes into hi-fidelity designs using the branding as a basis. However, it quickly became apparent that the branding didn’t suit the product.</p>
					</div>
					<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0">
						{% include carousel.html style="right" image1="/assets/images/work/aeroster/rebrand1.png" image1_description="This was my first iteration. There’s nothing wrong with it, but the cartoony style detracted rather than added to the function of the app." image2="/assets/images/work/aeroster/rebrand2.png" image2_description="Chris and I sat down for about 3 hours and turned that into this. Much better." image3="/assets/images/work/aeroster/rebrand3.png" image3_description="The final version looked like this." %}
					</div>
				</div>

				<div class="grid m-top--lg align-center">
					<div class="grid-item when-lg-6 when-lg-push-6">
						<p>After our radical redesign, Chris dumped his old agency, hired a new guy, and produced an incredible logo. We picked fonts, colours, icons, and produced a coherent, clean design system.</p>
					</div>
					<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0 when-lg-pull-6">
						{% include image.html style="full" url="/assets/images/work/aeroster/optimised/ui-kit.png" %}
					</div>
				</div>
			</section>

			<section class="Page-section" id="mobile">
				<div class="grid align-center">
					<div class="grid-item when-lg-6">
						<h2>
							<p>Mobile-first, desktop-best</p>
							<p class="font-serif color-muted">Something something subtitle</p>
						</h2>
					</div>
					<div class="grid-item when-lg-6 m-top--sm when-lg-m-top--0">
						<p>With such a short time, and wanting to cover as much ground as possible, we went with a web application (Vue+Django), but focused on mobile users. The desktop version made proper use of the available real estate, but there’s nothing you can’t do on mobile.</p>
					</div>
				</div>

				<div class="m-top--lg when-lg-m-top--xl">
					{% include image.html style="full" url="/assets/images/work/aeroster/desktop-mobile.png" width="1074" %}
				</div>
			</section>

			<section class="Page-section" id="illustrations">
				<div class="grid">
					<div class="grid-item when-lg-6 when-lg-push-6">
						<h2 class="m-bottom--sm when-lg-m-bottom--lg">
							<p>Quick-n-beautiful illustrations</p>
							<p class="font-serif color-muted">Something something subtitle</p>
						</h2>

						<p>I’m no illustrator, but we needed illustrations. I used our chosen icon pack as a base to create some simple, beautiful illustrations that we could pepper throughout the app.</p>
					</div>
					<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0 when-lg-pull-6">
						{% include image.html style="left" url="/assets/images/work/aeroster/illustrations.png" %}
					</div>
				</div>
			</section>
		</div>
	</div>
</div>