*,
*:before,
*:after {
	padding: 0;
	border: 0;
	margin: 0;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; }

.clearfix {
	zoom: 1; }
.clearfix:before {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden; }
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	overflow: hidden;
	clear: both; }

html {
	font-family: "Cambria", Georgia, Serif;
	font-size: 20px;
	line-height: 1.5;
	-webkit-text-size-adjust: none;
	color: #222222;
}

body {
	position: relative;
	margin: 8px;
}

.tabs-wrapper {
}
.tabs {
	display: table;
	white-space: nowrap;
}
.tabs li {
	display: inline-block;
	position: relative;
}
.tabs a {
	display: block;
	padding: 5px 10px;
	margin-left: 5px;
	border: 1px solid #999;
}
.tabs a.selected {
	background: #333;
	color: white;
	border-color: #333;
}
.tabs a:hover {
	border-color: #333;
	cursor: pointer;
}
.tabs li:first-child a {
	margin-left: 0;
}
.tabs .dropdown {
	position: absolute;
	left: -9999px;
	margin-top: 5px;

	border: 1px solid #666;
}
.tabs .dropdown.visible {
	left: auto;
	right: 0;
}
.tabs .dropdown-wrapper > a.open:before {
	content: "";
	height: 7px;
	background: #FFF;
	position: absolute;
	left: 5px;
	bottom: -6px;
	right: 0;
	border-right: #666 solid 1px;
	border-left: #666 solid 1px;
	z-index: 1;
}
.tabs .dropdown-wrapper > a.open.selected:before {
	background: #333;
	border-right: #333 solid 1px;
	border-left: #333 solid 1px;
}
.tabs .dropdown li {
	display: block;
	text-align: right;
}
.tabs .dropdown a {
	border: none;
	padding: 5px 15px;
	margin: 0;
}