.font-serif {
	font-family: $font-serif;
	font-style: italic;
	font-weight: 400;
	h2 &,
	h3 &,
	h4 & { 
		font-family: $font-serif-header;
		font-style: normal;
		font-weight: 500;
	}
}
.font-regular {
	font-weight: 400;
}