@mixin clearfix() {
    zoom: 1;
    &:before {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
}

$brown: #421703;
$cream: #f3eee3;

@import 'reset';
@import 'utilities';
@import 'typography';
@import 'magnific-popup';
@import 'magnific-popup-extra';
@import 'slick';

body {
    background: $brown;
}
img {
    display: block;
    width: 100%;
}
a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    text-decoration: underline;
    cursor: pointer;
    &:active {
        position: relative;
        top: 1px;
    }
}
.clearfix {
    @include clearfix();
}


/* Buttons */
.btn {
    display: block;
    position: relative;
    background: #d0b7a0;
    background-image: url('../images/bg-btn.jpg');
    color: #533d2a;
    text-shadow: 1px 1px 1px rgba(white, 0.4);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
    }
    &:before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-top: 3px solid rgba(black, 0.15);
        border-left: 3px solid rgba(black, 0.15);
        border-bottom: 3px solid rgba(black, 0.55);
        border-right: 3px solid rgba(black, 0.55);
    }
    &:after {
        left: 3px;
        right: 3px;
        top: 3px;
        bottom: 3px;
        border: 1px solid rgba(white, 0.1);
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 15px 1px rgba(white, 0.55);
        &:before {
            background: rgba(white, 0.05);
        }
        &:after {
            border-color: rgba(white, 0.3);
        }
    }
    &:active,
    &.active {
        box-shadow: inset 0 0 20px rgba(black, 0.5);
        &:before {
            background: rgba(black, 0.1);
            border-top-color: rgba(black, 0.35);
            border-left-color: rgba(black, 0.35);
            border-bottom-color: rgba(black, 0.75);
            border-right-color: rgba(black, 0.75);
        }
        &:after {
            border-color: transparent;
        }
    }
    background-position: 10% 90%;
}
.btn-small {
    height: 32px;
    font-size: 19px;
    line-height: 35px;
    padding: 0 4px;
}
.btn-large {
    display: table;
    width: auto;
    padding: 13px 30px 10px;
    margin-bottom: 15px;
    background-position: center 90%;
    background-size: cover;
    &:before {
        border-width: 5px;
    }
    &:after {
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
    }
}
.btn-group {
    li {
        margin-left: -4px;
        &:first-child {
            margin-left: 0;
        }
    }
    .btn.active:before {
        background: rgba(0, 0, 0, 0.2);
    }
    li:first-child .btn {
        &.active:before {
            box-shadow: inset -4px 0px 5px rgba(0,0,0,0.4);
        }
    }
    li:last-child .btn {
        &.active:before {
            box-shadow: inset 4px 0px 5px rgba(0,0,0,0.4);
        }
    }
}


/* Sections */
section {
    // overflow: hidden;
}
.section-withBackground {
    // margin-top: -13px;
}
.section-header {
    margin-top: -5%;
}
.section-footer {
    margin-bottom: -5%;
}
.section-background {
    background-position: top center;
    background-size: 100% auto;
    padding: 10px 15px 40px;
}
.section-light {
    color: $brown;
    text-shadow: 0 0 18px rgba($cream, 0.65);
}
.section-dark {
    color: $cream;
    text-shadow: 0 0 18px rgba(black, 0.65), 1px 1px 1px rgba(black, 0.2);
}







/* Menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    background: rgba(black, 0.85);
    text-shadow: 0 0 18px rgba(black, 0.65), 1px 1px 1px rgba(black, 0.2);
    z-index: 2;
    color: $cream;
    font-size: 18px;
    > div {
        padding: 10px;
    }

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
    .menu-isOpen & {
        opacity: 1;
        pointer-events: auto;
    }
}
body.menu-isOpen {
    overflow: hidden;
}
.menu-toggler {
    margin-top: 10px;
    top: 0;
    left: 10px;
    z-index: 1;
}
.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-item {
    margin-top: 20px;
}
.menu-link {
    text-decoration: none;
}
.menu-language {
    display: table;
    margin: 0 auto;
}
.menu-language--label {
    margin-right: 5px;
}
.menu-language--link {
    cursor: pointer;
    padding: 2px 2px 0px;
    text-decoration: none;
    &.active {
        background: $cream;
        color: $brown;
        text-shadow: none;
    }
}



/* Header */
.header {
    position: relative;
    z-index: 1;
}
.header-padding {
    padding: 10px 10px 3px;
}
.header-background {
    background-position: bottom center;
}
.header-social {
    li {
        &:first-child {
            a {
                background-position: 20% 90%;
            }
            + li { 
                a {
                    background-position: 20% 90%;
                }
                + li {
                    a {
                        background-position: 30% 90%;
                    }
                    + li {
                        a {
                            background-position: 40% 90%;
                        }
                        + li {
                            a {
                                background-position: 50% 90%;
                            }
                        }
                    }   
                }
            }
        }
    }
}
.header-nav {
    height: 32px;
    max-width: calc(100% - 122px);
    padding: 6px 0 6px;

    overflow: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(5%,rgba(255,255,255,1)), color-stop(95%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0)));

    li {
        margin: 0 10px;
    }
    img {
        width: auto;

    }
}









/* Hero */
.hero {
    color: $cream;
    padding: 0 0 30px;
}
.hero-text {
    font-family: "Quattrocento";
    // text-shadow: 0 0 18px rgba(black, 0.65);
    padding: 0 15px;
}






/* Slideshow */
.slideshow {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: move;
}
.slideshow-padding {
    padding-left: 0;
    padding-right: 0;
}
.slick-slide {
    padding: 0 5px;
}

/* Features */
.features-list {
    padding: 0 10%;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.1)), color-stop(11%,rgba(255,255,255,1)), color-stop(89%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.1)));
}
.features-img {
    margin-bottom: 15px;
}



/* Press */
.press-item {
    position: relative;
    display: block;
    text-decoration: none;
    margin-top: 20px;
    padding: 8px;

    background: white;
    border: 1px solid #eee;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 0 20px rgba(0, 0, 0, 0.12);
    &:active {
        box-shadow: none;
        border-color: #ddd;
    }
}
.press-author {
    @include clearfix();
    margin-bottom: 8px;
}
.press-avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.press-name {
    margin-top: 4px;
    line-height: 17px;
}
.press-quote {
    &:after {
        position: absolute;
        font-size: 170px;
        line-height: 1;
        font-weight: bold;
        color: #f2efee;
        content: "\201D";
        margin-left: -20px;
        right: 0;
        margin-top: -40px;
    }
    span {
        position: relative;
        text-shadow: 0 1px white, 0 -1px white, 1px 0 white, -1px 0 white;
        z-index: 1;
    }
}



/* Footer */
.footer-image {
    margin-bottom: -20px;
}