@mixin clearfix() {
    zoom: 1;
    &:before {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        content: ".";
        display: block;
        height: 0;
        overflow: hidden;
        clear: both;
    }
}

$brown: #421703;
$cream: #f3eee3;

@import 'reset';
@import 'utilities';
@import 'typography';

img {
    display: block;
    width: 100%;
}
a {
    color: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
    &:active,
    &.active {
        position: relative;
        top: 1px;
    }
}


/* Buttons */
.btn {
    display: block;
    position: relative;
    background: #d0b7a0;
    background-image: url('../images/bg-btn.jpg');
    color: #533d2a;
    text-shadow: 1px 1px 1px rgba(white, 0.4);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
    }
    &:before {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        border-top: 3px solid rgba(black, 0.15);
        border-left: 3px solid rgba(black, 0.15);
        border-bottom: 3px solid rgba(black, 0.55);
        border-right: 3px solid rgba(black, 0.55);
    }
    &:after {
        left: 3px;
        right: 3px;
        top: 3px;
        bottom: 3px;
        border: 1px solid rgba(white, 0.1);
    }
    &:hover {
        cursor: pointer;
        box-shadow: 0 0 15px 1px rgba(white, 0.55);
        &:before {
            background: rgba(white, 0.05);
        }
        &:after {
            border-color: rgba(white, 0.3);
        }
    }
    &:active,
    &.active {
        box-shadow: inset 0 0 20px rgba(black, 0.5);
        &:before {
            background: rgba(black, 0.1);
            border-top-color: rgba(black, 0.35);
            border-left-color: rgba(black, 0.35);
            border-bottom-color: rgba(black, 0.75);
            border-right-color: rgba(black, 0.75);
        }
        &:after {
            border-color: transparent;
        }
    }
    background-position: 10% 90%;
}
.btn-small {
    height: 32px;
    font-size: 19px;
    line-height: 35px;
    padding: 0 4px;
}
.btn-large {
    display: table;
    width: auto;
    padding: 13px 30px 10px;
    margin-bottom: 15px;
    background-position: center 90%;
    background-size: cover;
    &:before {
        border-width: 5px;
    }
    &:after {
        left: 5px;
        right: 5px;
        top: 5px;
        bottom: 5px;
    }
}
.btn-group {
    li {
        margin-left: -4px;
        &:first-child {
            margin-left: 0;
        }
    }
    .btn.active:before {
        background: rgba(0, 0, 0, 0.2);
    }
    li:first-child .btn {
        &.active:before {
            box-shadow: inset -4px 0px 5px rgba(0,0,0,0.4);
        }
    }
    li:last-child .btn {
        &.active:before {
            box-shadow: inset 4px 0px 5px rgba(0,0,0,0.4);
        }
    }
}


/* Sections */
section {
    overflow: hidden;
}
.section-withBackground {
    // margin-top: -13px;
}
.section-header {
    margin-top: -3%;
}
.section-background {
    background-position: top center;
    background-size: 100% auto;
    padding: 40px 15px 20px;
}
.section-light {
    color: $brown;
}
.section-dark {
    color: $cream;
    text-shadow: 0 0 18px rgba(black, 0.65);
}





/* Header */
.header {
    padding: 10px;
    margin-top: 0;
    background-position: bottom;
    // margin-bottom: -13px;
    // padding-bottom: 17px;

    position: relative;
    z-index: 1;
    @include clearfix();
}
.header-social {
    li {
        &:first-child {
            a {
                background-position: 20% 90%;
            }
            + li { 
                a {
                    background-position: 20% 90%;
                }
                + li {
                    a {
                        background-position: 30% 90%;
                    }
                    + li {
                        a {
                            background-position: 40% 90%;
                        }
                        + li {
                            a {
                                background-position: 50% 90%;
                            }
                        }
                    }   
                }
            }
        }
    }
}




/* Hero */
.hero {
    color: $cream;
    background: $brown;
    padding: 0 0 30px;
}
.hero-text {
    font-family: "Quattrocento";
    font-size: 16px;
    line-height: 18px;
    // text-shadow: 0 0 18px rgba(black, 0.65);
    padding: 0 15px;
}






/* Slideshow */
.slideshow {
    margin: 0;
    padding: 0;
    list-style: none;
}
.slideshow-padding {
    padding-left: 0;
    padding-right: 0;
}
.slick-slide {
    padding: 0 5px;
}

/* Features */
.features-list {
    padding: 0 10%;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0.1)), color-stop(11%,rgba(255,255,255,1)), color-stop(89%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0.1)));
}
.features-img {
    margin-bottom: 15px;
}
.features-text {
    font-size: 13px;
    line-height: 15px;
    white-space: normal;
}




/* Footer */
.section-footer {
    padding-bottom: 40px;
}