body {
    font-family: "Quattrocento Sans";
    font-size: 15px;
    line-height: 18px;
    color: $brown;
}
h1,h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: 15px;
}
h1,h2,h3,h4,h5,.btn-large {
    font-family: "Quattrocento";
    font-weight: normal;
    line-height: 1;
}
.btn-large {
    font-size: 30px;
}
h2 {
    font-size: 24px;
    line-height: 30px;
}
p {
    margin-bottom: 15px;
}