<footer class="Footer">
	<div class="whitespace--sm whitespace-top--md whitespace-bottom--md text-center bg-black color-bg">
		<div class="container">
			<div class="Footer-links">
				<a href="mailto:hello@morgancarter.com.au">
					<img src="/assets/icon/email.svg">
				</a>
				<a class="m-left--sm" href="tel:+61426395232">
					<img src="/assets/icon/phone.svg">
				</a>
				<a class="m-left--sm" href="https://dribbble.com/morgoe">
					<img src="/assets/icon/dribbble.svg">
				</a>
			</div>

			<p class="when-md-m-top--0 color-muted">Copyright © 2018 Morgan Carter.</p>
		</div>
	</div>
</footer>
