<nav class="Navbar">
	<div class="container Navbar-container">
		{% if include.index %}
			<div>
				<a class="Navbar-back" href="{{ include.index_url }}">{{ include.index }}</a>
			</div>
		{% else %}
			<div class="Navbar-title">Morgan Carter’s Portfolio</div>
		<ul class="Navbar-list">
			<li>
				<a class="Navbar-link {% if page.siteNav == 'home' %}now-active{% endif %}" href="{{ site.baseurl }}/">Home</a>
			</li>
			<li>
				<a class="Navbar-link {% if page.siteNav == 'work' %}now-active{% endif %}" href="{{ site.baseurl }}/work/">Work</a>
			</li>
			<li>
				<a class="Navbar-link {% if page.siteNav == 'services' %}now-active{% endif %}" href="{{ site.baseurl }}/services/">Services</a>
			</li>
			<li>
				<a class="Navbar-link {% if page.siteNav == 'blog' %}now-active{% endif %}" href="{{ site.baseurl }}/design-solutions/">Blog</a>
			</li>
			<li>
				<a id="contactMe-openModal" class="Navbar-highlight">Contact Me</a>
			</li>
		</ul>
		<div></div>
		{% endif %}
	</div>
</nav>