<nav class="m-siteNavigation padding--sm m-animation-header">
	<a class="m-siteNavigation-logo" href="{{ site.baseurl }}/"></a>
	<ul class="m-siteNavigation-list u-text--small u-listInline">
		<li>
			<a class="m-siteNavigation-link {% if page.siteNav == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">Home</a>
		</li>
		<li>
			<a class="m-siteNavigation-link {% if page.siteNav == 'work' %}active{% endif %}" href="{{ site.baseurl }}/work/">Work</a>
		</li>
		<li>
			<a class="m-siteNavigation-link {% if page.siteNav == 'services' %}active{% endif %}" href="{{ site.baseurl }}/services/">Services</a>
		</li>
		<li>
			<a class="m-siteNavigation-link {% if page.siteNav == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/design-solutions/">Blog</a>
		</li>
		<li>
			<a id="contactMe-openModal" class="m-siteNavigation-highlight">Contact Me</a>
		</li>
	</ul>
</nav>