<div class="HeroText">
	<div class="HeroText-left">
		<p class="HeroText-hello m-animation-1">Hi, I'm</p>
		<h1 class="HeroText-title m-animation-2">Morgan Carter</h1>
	</div>
	<div class="HeroText-right">
		<p class="m-animation-3">
			I’m a freelance digital product designer currently living in <strong>Sydney</strong>. I help startups and small businesses turn complex ideas into intuitive, beautiful products.
		</p>

		<p class="m-animation-4">
			The products I’ve helped design have been used by <strong>Amazon</strong>, <strong>McDonalds</strong>, <strong>Nike</strong>, <strong>Qantas</strong>, <strong>NVidia</strong>, <strong>Telstra</strong>, <strong>NASA</strong> &amp; more.
		</p>

		<p class="m-animation-5">
			Want to work together? <a class="js-contactMe-openModal"><strong>Contact me</strong></a>.
		</p>
	</div>
</div>