@font-face{
    font-family: "GT-America-Web";
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
         url('/assets/fonts/GT-America-Standard-Regular.woff') format('woff');
}
@font-face{
    font-family: "GT-America-Web";
    font-style: normal;
    font-weight: 600;
    src: url('/assets/fonts/GT-America-Standard-Medium.woff2') format('woff2'),
         url('/assets/fonts/GT-America-Standard-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Domaine-Display-Web';
    font-weight: 500;
    font-style: normal;
    src: url('/assets/fonts/DomaineDisplayWeb-Medium.woff2') format('woff2'),
         url('/assets/fonts/DomaineDisplayWeb-Medium.woff') format('woff');
}
@font-face {
    font-family: 'Domaine-Text-Web';
    font-weight: 400;
    font-style: italic;
    src: url('/assets/fonts/DomaineTextWeb-RegularItalic.woff2') format('woff2'),
         url('/assets/fonts/DomaineTextWeb-RegularItalic.woff') format('woff');
}

// Not purchased yet:
@font-face{
    font-family: "Canela-Web";
    font-style: normal;
    font-weight: 100;
    src: url('/assets/fonts/Canela-Thin-Reduced.woff') format('woff');
}
@font-face{
    font-family: "Canela-Web";
    font-style: normal;
    font-weight: 200;
    src: url('/assets/fonts/Canela-Light-Reduced.woff') format('woff');
}

// TODO: Make Vulf arrows into SVGs