html {
	font-size: 16px;
}
body {
	font-size: $fontSize-md;
	font-family: $font-sans;
	line-height: $font-lineHeight;
	color: $text-dark;
	@include antialiased();
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	line-height: $font-lineHeight-header;
	p {
		margin-top: $spacing-xxs;
		max-width: none;
	}
	+ p {
		margin-top: $spacing-xs;
	}
}
h1,
.h1 {
	position: relative;
	font-family: $font-header;
	font-size: 48px;
	font-weight: 400;
	line-height: 1;
	text-align: left;
	max-width: 1024px;
}
h2,
.h2 {
	font-family: $font-sans;
	font-size: 2rem;
	font-weight: 500;
}
h3,
.h3 {
	font-family: $font-serif;
	font-size: 1.5rem;
	font-weight: 400;
}
h4,
.h4 {
	font-size: 1.5rem;
	font-weight: 500;
}
h5,
.h5 {
	font-size: 1rem;
	font-weight: 600;
}
// .text-lg {
// 	font-size: $fontSize-lg;
// }
// .text-xl {
// 	font-size: $fontSize-xl;
// }
p {
	margin-top: 1em;
	max-width: $container-sm;
	&:first-child {
		margin-top: 0;
	}
	em {
		font-style: italic;
		font-family: $font-serif;
		letter-spacing: $letterSpacing-condensed;
	}
}

blockquote {
	font-family: "Pitch-Web";
	font-family: "Pitch-Sans-Web";
	font-family: "Domaine-Text-Web";
	font-family: "Domaine-Sans-Text-Web";
	margin-top: 1em;
	border-top: 2px solid;
	border-bottom: 2px solid;
	margin-left: -60%;
	margin-right: 40%;
	padding: 0.5em 0;
	font-size: 1.25rem;
	strong {
		display: block;
		text-align: right;
	}
}


@media (min-width: $media-lg) {
	body {
		font-size: $fontSize-lg;
	}
	h1 {
		font-size: 6rem;
	}
	h2,
	.h2 {
		font-size: 48px;
	}
	h3,
	.h3 {
		font-size: 1.5rem;
	}
	h4,
	.h4 {
		font-size: 32px;
	}
}