body {
	color: $text-dark;
	background: $mono-95;
	background: $background;
}
img,
video {
	display: block;
	max-width: 100%;
}
ol,
ul {
	list-style: none;
}
ul.list-styled {
	

}
hr {
  border: none;
  border-top: 1px solid rgba($text-dark, 0.2);
  margin-top: 1.5em;
}
a {
	color: $blue;
	padding: 1px 2px 2px;
	margin: 0 -2px;
	text-decoration: none;
	&:hover {
		background: rgba($blue, 0.1);
	}
}