body {
	color: $text-dark;
	background: $mono-95;
	background: $background;
}
img,
video {
	display: block;
	max-width: 100%;
}
ol,
ul {
	list-style: none;
}
ul.list-styled {
	

}
a {
	color: $blue;
	text-decoration: underline;
	text-decoration-color: rgba($blue, 0.25);
	&:hover {
		text-decoration-color: $blue;
	}
}