.m-page-title,
.m-heroText-hello,
.m-heroText-title,
.m-page-content,
.m-heroText-paragraph,
.m-home-me,
.m-latestWork,
.m-siteNavigation {
	opacity: 0;
}
.m-page-title,
.m-heroText-hello {
	transition: opacity 1s;
}
.m-page-content,
.m-heroText-title {
	transition: opacity 1.25s 0.1s;
}
.m-heroText-paragraph {
	transition: opacity 1.5s 0.2s;
}
.m-home-me {
	transition: opacity 2s 0.3s;
}
.m-latestWork {
	transition: opacity 2.5s 0.4s;
}
.m-siteNavigation {
	transition: opacity 3s 0.5s;
}
.in {
	.m-page-title,
	.m-heroText-hello,
	.m-heroText-title,
	.m-page-content,
	.m-heroText-paragraph,
	.m-home-me,
	.m-latestWork,
	.m-siteNavigation {
		opacity: 1;
	}
}