.m-post-title {
	font-size: 3rem;
}
.m-post-quote {
	padding-left: $rhythm;
	font-style: italic;
	color: $black_lightest;
	p {
		color: inherit;
	}
}
.m-post-link {
	display: table;
	width: 100%;
	background: none !important;
	line-height: inherit;
	> * {
		vertical-align: top;
	}
	.no-touch &:focus .btn:after,
	.no-touch &:hover .btn:after,
	.touch &:active .btn:after {
		background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* IE10+ */
		background: linear-gradient(to top,          transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* W3C */
	}
	&[data-visited] {
		.btn {
			color: inherit;
			&:after {
				background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* FF3.6+ */
				background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* IE10+ */
				background: linear-gradient(to top,          transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* W3C */
			}
		}
	}
}
.m-post-image {
	display: block;
	width: 4 * $rhythm;
	height: 4 * $rhythm;
	> img {
		border-radius: 50%;
	}
}
.m-post-description {
	display: table-cell;
	margin-top: 0;
	padding-left: 1rem;
}
.m-post-btn {
	margin-top: 0;
}

@media (min-width: 1024px) {
	.m-post-content {
		* + h2,
		* + h3,
		* + h4 {
			margin-top: $line_height * 1em / 2;
		}
	}
}

@media (max-width: 767px) {
	.m-post-title {
		font-size: 2rem;
	}
	.m-post-image {
		width: 3 * $rhythm;
		height: 3 * $rhythm;
	}
}