.m-blogPost-link {
	display: table;
	width: 100%;
	border-bottom: none;
	line-height: inherit;
	> * {
		display: table-cell;
		vertical-align: top;
	}
	.no-touch &:hover .btn,
	.touch &:active .btn {
		border-color: $blue;
	}
	&:visited {
		.btn {
			color: inherit;
			border-color: rgba($black_light, 0.33);
		}
	}
}
.m-blogPost-image {
	width: 4 * $rhythm;
	height: 4 * $rhythm;
	> img {
		border-radius: 50%;
	}
}
.m-blogPost-description {
	margin-top: 0;
	padding-left: 1rem;
}
.m-blogPost-btn {
	margin-top: 0;
}

@media (max-width: 767px) {
	.m-blogPost-image {
		width: 3 * $rhythm;
		height: 3 * $rhythm;
	}
}