.m-page-title {
	
}
.m-blogPost-imageCompare {
	position: relative;
	img:last-child {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: 0;
		display: none;
	}
	&:hover {
		img:last-child {
			display: block;
		}
	}
}
.m-blogPost-link {
	display: table;
	width: 100%;
	border-bottom: none;
	> * {
		display: table-cell;
		vertical-align: top;
	}
	&:hover .btn {
		border-color: $blue;
	}
}
.m-blogPost-image {
	width: 4 * $rhythm;
	height: 4 * $rhythm;
	> img {
		border-radius: 50%;
	}
}
.m-blogPost-description {
	margin-top: 0;
	padding-left: 1rem;
}
.m-blogPost-btn {
	margin-top: 0;
}

@media (max-width: 767px) {
	.m-blogPost-image {
		width: 3 * $rhythm;
		height: 3 * $rhythm;
	}
}