.m-page-title {
	
}
.m-blogPost-imageCompare {
	position: relative;
	img:last-child {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin-top: 0;
		display: none;
	}
	&:hover {
		img:last-child {
			display: block;
		}
	}
}
.m-blogPost-link {
	display: block;
	border-bottom: none;
	&:hover .btn {
		border-color: $blue;
	}
}
.m-blogPost-btn {
	margin-top: 0;
}
.m-blogPost-thumbnail {
	width: 3 * $rhythm;
	height: 3 * $rhythm;
	margin-right: $rhythm;
	background: red;
	float: left;
	border-radius: 50%;
}