.m-heroText-hero {
	margin-top: $rhythm;
	margin-left: auto;
	margin-right: auto;
	max-width: 780px;
	> div {
		display: table-cell;
		padding-left: $rhythm / 2;
		padding-right: $rhythm / 2;
		&:first-child {
			vertical-align: top;
		}
		&:last-child {
			vertical-align: bottom;
			width: 100%;
		}
	}
}
.m-heroText-hello {
	position: absolute;
	margin-top: -$rhythm;
	margin-left: $rhythm / 4;
}
.m-heroText-hello--aLittleBit {
	margin-left: $rhythm;
}
.m-heroText-title {
	margin-top: 0;
	text-align: right;
	font-size: 4rem;
	line-height: 4.05rem;
	position: relative;
	top: 10px;
}
.m-heroText-paragraph {
	font-size: 1.5rem;
	line-height: 2rem;
	position: relative;
	top: 1px;
	a {
		border-width: 3px;
		line-height: 1.1;
	}
}
.m-heroText-br {
	// display: none;
}
.m-heroText-enabled {
	color: $green_text;
}

@media (max-width: 1023px) {
	.m-heroText-hero {
		> div {
			display: table;
			margin-top: 0;
		}
	}
	.m-heroText-hello,
	.m-heroText-paragraph {
		margin-left: 0.3rem;
	}
	.m-heroText-title {
		top: 0;
		margin: 0.5rem 0;
	}
	.m-heroText-title,
	.m-heroText-paragraph {
		text-align: left;
	}
	.m-heroText-br {
		display: inline;
	}
}
@media (max-width: 767px) {
	.m-heroText-hero {
		margin-top: 0;
		> div {
			display: block;
			margin-left: auto;
			margin-right: auto;
			padding: 0;
		}
	}
	.m-heroText-hello--aLittleBit {
		margin-left: $rhythm / 2;
	}
	.m-heroText-title {
		font-size: 3rem;
		line-height: 1;
	}
	.m-heroText-paragraph {
		font-size: 1rem;
		line-height: $rhythm;
	}
}