.m-home-wrapper {
	position: absolute;
	top: 50%;
	@include prefix(transform, translateY(-50%));
	left: 0;
	right: 30%;
	padding-top: 0;
	padding-bottom: 0;
}
.m-home-wrapper--invert {
	display: none;
}
.m-home-me {
	width: 30%;
	background-image: url('/assets/images/home/me.png');
	background-size: cover;
	background-position: 23% 40%;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}

@media (min-width: 1920px) {
	.m-home-wrapper {
		right: 15%;
	}
}

@media (min-width: 1600px) {
	.m-home-wrapper {
		right: 20%;
	}
}

@media (max-width: 1200px) {
	.m-home-wrapper {
		right: 35%;
	}
	.m-home-me {
		width: 35%;
	}
}

@media (max-width: 1080px) {
	.m-home-wrapper {
		right: 0;
	}
	.m-home-me {
		display: none;
	}
}


@media (max-width: 767px), (max-height: 568px) {
	.m-home-me {
		display: none;
	}

	.m-home-wrapper {
		position: relative;
		@include prefix(transform, none);
		margin-top: $rhythm * 2;
	}
}