.m-home-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 25%;
}
.m-home-wrapper--invert {
	display: none;
}
.m-home-me {
	width: 25%;
	background: $blue;
	background: url('/assets/images/home/me.jpg');
	background-size: cover;
	background-position: 55% 20%;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}


/* Animation */
#home {
	.m-heroText-hello,
	.m-heroText-title,
	.m-heroText-paragraph,
	.m-home-me,
	.m-latestWork,
	.m-siteNavigation {
		opacity: 0;
	}
	.m-heroText-hello {
		transition: opacity 1s;
	}
	.m-heroText-title {
		transition: opacity 1.25s 0.1s;
	}
	.m-heroText-paragraph {
		transition: opacity 1.5s 0.2s;
	}
	.m-home-me {
		transition: opacity 2s 0.3s;
	}
	.m-latestWork {
		transition: opacity 2.5s 0.4s;
	}
	.m-siteNavigation {
		transition: opacity 3s 0.5s;
	}
	&.in {
		.m-heroText-hello,
		.m-heroText-title,
		.m-heroText-paragraph,
		.m-home-me,
		.m-latestWork,
		.m-siteNavigation {
			opacity: 1;
		}
	}
}


@media (max-width: 1200px) {
	.m-home-wrapper {
		right: 20%;
	}
	.m-home-me {
		width: 20%;
	}
}

@media (max-width: 1080px) {
	.m-home-wrapper {
		right: 0;
	}
	.m-home-wrapper--invert {
		display: block;
		width: 100vw;
		left: auto;
		z-index: 1;
		.m-heroText-hello,
		.m-heroText-title,
		.m-heroText-paragraph {
			color: white;
		}
	}
	.m-home-me {
		overflow: hidden;
		// opacity: 0.25;
		z-index: 1;
		width: 33%;
	}
}

@media (max-width: 767px) {
	.m-home-me {
		width: 50%;
	}
}