.m-home-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 30%;
	padding-top: 0;
	padding-bottom: 0;
}
.m-home-wrapper--invert {
	display: none;
}
.m-home-me {
	width: 30%;
	background: $black;
	background-image: url('/assets/images/home/me.png');
	background-size: cover;
	background-position: 23% 40%;
	margin-top: 0;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
}


@media (max-width: 1200px) {
	.m-home-wrapper {
		right: 35%;
	}
	.m-home-me {
		width: 35%;
	}
}

@media (max-width: 1080px) {
	.m-home-wrapper {
		right: 0;
	}
	.m-home-wrapper--invert {
		display: block;
		width: 100vw;
		left: auto;
		z-index: 1;
		.m-heroText-hello,
		.m-heroText-title,
		.m-heroText-paragraph {
			color: white;
		}
	}
	.m-home-me {
		overflow: hidden;
		z-index: 1;
		width: 33%;
	}
}

@media (max-width: 1023px) {
	.m-home-me {
		width: 50%;
		// bottom: 180px;
	}
}

@media (max-width: 767px) {
	.m-home-me {
		// bottom: 130px;
	}
}

@media (max-height: 400px) {
	.m-home-me {
		bottom: 0;
	}
}