.m-latestWork-wrapper {
	max-width: 880px;
	margin: 10% auto 0;
	@include clearfix();
}
.m-latestWork {
	width: 50%;
	float: left;
	margin-top: 0;
}
.m-latestWork-header {
	position: relative;
	border-bottom: 1px solid $gray_lightest;
	line-height: 1;
}
.m-latestWork-title {
	color: $gray_light;
}
.m-latestWork-more {
	position: absolute;
	right: 0;
	bottom: -1px;
	color: $gray_light;
	background: none !important;
	
	.no-touch &:focus,
	.no-touch &:hover,
	.touch &:active {
		color: $blue;
	}
	&:active {
		top: auto;
	}
}

@media (max-width: 1023px) {
	.m-latestWork-list {
		background: white;
	}
	.m-latestWork-more {
		bottom: 0;
	}
}

@media (max-width: 767px), (max-height: 568px) {

	.m-latestWork-wrapper {
		margin-top: $rhythm;
	}	
}

@media (max-width: 767px) {
	.m-latestWork-wrapper {
		margin-top: $rhythm;
		margin-left: -$rhythm / 2;
		margin-right: -$rhythm / 2;
	}
}

@media (max-width: 568px) {
	.m-latestWork {
		width: 100%;
		float: none;
	}
}