.m-latestWork-wrapper {
	max-width: 880px;
	margin: 5% auto 0;
	@include clearfix();
}
.m-latestWork {
	width: 50%;
	float: left;
	margin-top: 0;
}
.m-latestWork-header {
	position: relative;
	border-bottom: 2px solid $gray_lightest;
	line-height: 1;
}
.m-latestWork-title {
	color: $gray_light;
}
.m-latestWork-more {
	position: absolute;
	right: 0;
	bottom: -1px;
	color: $gray_light;
	border-bottom: none;
	&:active {
		top: auto;
	}
}
.m-latestWork-work {
	display: block;
	text-align: center;
	padding: $rhythm / 2;
	color: inherit;
	border-radius: $borderRadius;
	border: none;
	transition: all 0.25s;
	&:hover {
		transform: scale(1.05);
		transition: all 0.5s;
		.m-latestWork-image {
			transform: rotate(9deg);
			transition: all 0.5s;
		}
	}
}
.m-latestWork-image {
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	height: $rhythm * 5;
	width: $rhythm * 5;
	transition: all 0.25s;
}
.m-latestWork-subtitle {
	line-height: 1em;
	color: $gray;
}

@media (max-width: 1023px) {
	.m-latestWork-list {
		background: white;
	}
	.m-latestWork-more {
		bottom: 0;
	}
}

@media (max-width: 767px) {
	.m-latestWork-wrapper {
		margin-top: $rhythm;
		margin-left: -$rhythm / 2;
		margin-right: -$rhythm / 2;
	}
}

@media (max-width: 568px) {
	.m-latestWork {
		width: 100%;
		float: none;
	}
}