.m-services {
	max-width: 1280px;
	margin: 0 auto;
}
.m-services-about {
	display: table;
	margin-left: auto;
	margin-right: auto;
	font-weight: 500;
	margin-top: -$rhythm / 2;
	font-family: $font-serif;
	font-style: italic;
	p {
		color: $black_lightest;
		+ p {
			margin-top: $rhythm;
		}
	}
	em {
		color: $black;
		font-weight: bold;
	}
	a {
		padding: 0 4px;
		margin: 0 -4px;
	}
}
.m-services-item {
	position: relative;
	margin-bottom: 1.5em;
}
.m-services-iconImage {
	width: 170px;
	max-width: 100%;
}
.m-services-description {
	max-width: 390px;
	margin-left: auto;
	margin-right: auto;
}
.m-services-title {
	text-align: center;
}

@media (max-width: 767px) {
	.m-services {
		max-width: 480px;
	}
	.m-services-about {
		a {
			padding: 0 2px;
			margin: 0 -2px;
		}
	}
	.m-services-item {
		margin-bottom: 3em;
	}
	.m-services-icon {
		padding-right: 0;
	}
	.m-services-description {
		margin-top: 0;
		margin-left: 0;
	}
	.m-services-title {
		text-align: left;
	}
}