.m-siteNavigation {
	position: relative;
	z-index: 2;
}
.m-siteNavigation-logo {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: white;
	border: 2px solid $black;
	&:visited {
		border-color: $black;
	}
	.no-touch &:hover,
	.no-touch &:visited:hover,
	.touch &:visited:active,
	.touch &:active {
		border-color: $gray;
	}
}
.m-siteNavigation-list {
	display: inline-block;
	vertical-align: top;
	margin-top: 2px;
	> li {
		margin-left: $rhythm / 2;
	}
	.touch & > li {
		margin-left: 1rem;
	}
}
.m-siteNavigation-link {
	&,
	&:visited {
		color: $gray_light;	
	}
	border-color: transparent;
	.no-touch &:hover,
	.no-touch &:visited:hover,
	.touch &:visited:active,
	.touch &:active {
		color: $gray;
		border-color: rgba($black_lightest, 0.33);
	}
	&.active {
		color: $black_lightest;
		border-color: rgba($black_lightest, 0.33);
		.no-touch &:hover,
		.touch &:active {
			color: $black_lightest;
			cursor: default;
		}
	}
}
.m-siteNavigation-highlight {
	color: $blue;
	border-color: transparent;
	&:hover {
		// border-color: rgba($blue, 0.5);
	}
}

@media (max-width: 1023px) {
	.m-siteNavigation-list {
		margin-top: 6px;
	}
}

@media (max-width: 767px) {
	.m-siteNavigation {
		text-align: center;
		// #home & {
		// 	visibility: hidden;
		// }
	}
	.m-siteNavigation-logo {
		display: none;
	}
	.m-siteNavigation-list {
		margin-top: 0;
		> li {
			margin-left: $rhythm;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}