.m-siteNavigation {
	position: relative;
	z-index: 2;
}
.m-siteNavigation-logo {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: white;
	border: 2px solid $black;
	&:hover {
		border-color: $black_light;
	}
}
.m-siteNavigation-list {
	display: inline-block;
	vertical-align: top;
	margin-top: 3px;
	> li {
		margin-left: $rhythm / 2;
	}
}
.m-siteNavigation-link {
	color: $gray_light;
	border-color: transparent;
	&:hover {
		color: $black_lightest;
		border-color: rgba($black_lightest, 0.33);
	}
	&.active {
		color: $black_lightest;
		&:hover {
			border: none;
			cursor: default;
		}
	}
}
.m-siteNavigation-highlight {
	color: $blue;
	border-color: transparent;
	&:hover {
		// border-color: rgba($blue, 0.5);
	}
}

@media (max-width: 1023px) {
	.m-siteNavigation-list {
		margin-top: 6px;
	}
}

@media (max-width: 767px) {
	.m-siteNavigation {
		right: 0;
		text-align: center;
	}
	.m-siteNavigation-logo {
		display: none;
	}
	.m-siteNavigation-list {
		margin-top: 0;
		> li:first-child {
			margin-left: 0;
		}
	}
	.m-siteNavigation-link {
		color: inherit;
		opacity: 0.5;
		&:hover {
			color: inherit;
			border-color: inherit;
		}
	}
}