.m-work-list {
	max-width: 1690px;
	margin-left: auto;
	margin-right: auto;
}
.m-work-item {
	+ .m-work-item {
		margin-top: 4rem;
	}
}
.m-work-image {
	background-color: $off_white;
	background-size: cover;
	background-position: top center;
	box-shadow: 0 2px 5px rgba(black, 0.05), 0 0.5em 3em -1em rgba(black, 0.3);
	height: 50vh;
}
.m-work-title {
	margin-top: 4px;
	margin-bottom: -4px;
}
.m-work-link {
	margin-top: $line_height / 2 * 1em;
}

@media (max-width: 767px) {
	.m-work-item {
		text-align: center;
		+ .m-work-item {
			margin-top: 1rem;
		}
		padding-bottom: 1rem;
		.col-sm-8 {
			padding: 0;
		}
	}
	.m-work-image {
		height: 240px;
		box-shadow: none;
	}
	.m-work-link {
		margin-top: 0;
	}
}