.m-work-list {
	max-width: 1690px;
	margin-left: auto;
	margin-right: auto;
}
.m-work-item {
	+ .m-work-item {
		margin-top: 4rem;
	}
}
.m-work-image {
	background-color: $off_white;
	background-size: cover;
	background-position: top center;
	box-shadow: 0 2px 5px rgba(black, 0.05), 0 14px 54px rgba(black, 0.15);
	height: 50vh;
}
// .m-work-imageWrapper {
// 	box-shadow: 0 2px 5px rgba(black, 0.05), 0 14px 54px rgba(black, 0.15);
// 	height: 50vh;
// 	padding: 0;
// 	overflow: hidden;
// 	img {
// 		display: block;
// 		width: 100%;
// 	}
// }
.m-work-title {
	margin-top: 0;
	margin-bottom: $rhythm / 4;
}

@media (max-width: 767px) {
	.m-work-item {
		+ .m-work-item {
			margin-top: 1rem;
		}
		@include gradient(white, $off_white);
		@include gradient($off_white, white);
		padding-bottom: 1rem;
	}
}