.Blog-link {
	color: inherit;
	@include flexbox();
	.button:after {
		transition-speed: 0.4s;
	}
	&:hover,
	&:focus {
		background: none;
		.button {
			color: $background;
			background: none;
			&:before,
			&:after {
				background: $text-dark;
			}
			&:after {
				transform: scaleX(1);
			}
		}
	}
	&:active {
		transform: scale(0.99);
	}
}
.Blog-thumbnail {
	height: 100px;
	width: 100px;
	background-size: cover;
}