.Essay {
	li {
		margin-top: $spacing-sm;
		margin-left: $spacing-md;
		max-width: $container-sm;
	}
	ul:not(.carousel-list) {
		li {
			&:before {
				content: "→";
				display: inline-block;
				font-family: $font-mono;
				width: $spacing-md;
				margin-left: -$spacing-md;
			}
		}
	}
	ol {
		list-style: decimal;
	}
}