.Navbar {
	padding: $spacing-sm;
	font-size: $fontSize-xs;
	font-family: $font-system;
}
.Navbar-container {
	@include flexbox();
	@include justify-content(space-between);
}
.Navbar-back {
	color: $text-dark;
	font-weight: bold;
	text-decoration: none;

	position: relative;
	&:before {
		content: "";
		position: absolute;
		top: 10px;
		right: 100%;
		width: 20rem;
		height: 1px;
		background: $text-dark;
	}
}
.Navbar-list {
	@include flexbox();
	@include justify-content(space-between);
	text-align: center;
}
.Navbar-link {
	@include noSelect();
	display: block;
	color: inherit;
	text-decoration: none;
	font-weight: 500;
	padding: 0;
	> span {
		display: block;
		padding: 1px 6px 2px;
	}
	&.now-active {
		opacity: 0.6;
	}
	&:hover {
		background: none;
		> span {
			background: rgba($text-dark, 0.1);
		}
	}
	&:active > span {
		transform: scale(0.9);
	}
}

@media (min-width: $media-sm) {
	.Navbar {
		font-size: $fontSize-sm;
	}
}
@media (min-width: $media-lg) {
	.Navbar-container {
		> * {
			width: 0;
		}
		> * {
			@include flex-grow(1);
		}
	}
}