.Post-listItem {
	display: block;
	text-align: center;
	margin-bottom: 4rem;
}
.Post-link {
	@include noSelect();
	color: inherit;
	display: block;
	&:hover,
	&:focus {
		background: none;
	}
	&:active {
		transform: scale(0.99);
	}
}
.Post-link--blog {
	color: inherit;
	text-align: left;
	@include flexbox();
	&:hover,
	&:focus {
		background: none;
	}
	&:active {
		transform: scale(0.99);
	}
}
.Post-image {
	padding-bottom: 100%;
	background-size: cover;
}
.Post-thumbnail {
	@include flex-shrink(0);
	width: 4rem;
	height: 4rem;
	background-size: cover;
}

@media (min-width: $media-md) {
	.Post-thumbnail {
		width: 6rem;
		height: 6rem;
	}
}
@media (min-width: $media-lg) {
	.Post-thumbnail {
		width: 8rem;
		height: 8rem;
	}
}
@media (min-width: $media-laptop) {
	.Post-link {
		.button:after {
			transition-speed: 0.4s;
		}
		&:hover,
		&:focus {
			.button {
				color: $background;
				background: none;
				&:before,
				&:after {
					background: $text-dark;
				}
				&:after {
					transform: scaleX(1);
				}
			}
		}
		&:active {
			transform: scale(0.99);
		}
	}
}