html {
	font-family: $font_body;
	font-size: $font_size;
	line-height: $line_height;
	color: $black_light;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-family: $font_header;
}
h1 {
	font-size: 4rem;
	line-height: 1;
	color: $black;
	text-align: center;
}
h2 {
	font-size: 3rem;
	line-height: 1;
	color: $black;
}
h3 {
	font-size: 2rem;
	font-weight: bold;
	color: $black;
}
h4 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: normal;
	color: $black;
}
h5 {
	font-size: $rhythm / 2;
	font-weight: normal;
	color: $gray;
}
h1,
h2,
h3,
h4,
h5 {
	+ p {
		margin-top: 0;
	}
}
blockquote {
	font-family: $font_serif;
	font-style: italic;
	font-size: 1.25rem;
	margin-left: -1.5rem;
	padding: 0.75rem 1.5rem;
	background: $blue_lightest;
	color: $blue_light;
	border-left: 4px solid $blue_dark;
	@include clearfix();
}

@media (max-width: 1023px) {
	html {
		font-size: $font_size--mobile;
	}
}

@media (max-width: 767px) {
	h1 {
		font-size: 2rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	blockquote {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}
}

@font-face {
    font-family: 'Charter';
    src: url('/assets/fonts/charter_italic-webfont.eot');
    src: url('/assets/fonts/charter_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Charter';
    src: url('/assets/fonts/charter_bold_italic-webfont.eot');
    src: url('/assets/fonts/charter_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}