// Colours
$black:             #2f2f2f;
$black_light:       #4f4f4f;
$black_lightest:    #6f6f6f;
$gray:              #999;
$gray_light:        #bebebe;
$gray_lightest:     #cecece;
$off_white:         #eee;
$blue:              #1e92d4;

// Rhythm

// Typography
$font_body:         "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
$font_header:       "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
$font_size:         18px;
$line_height:       1.5;
$font_size--mobile: 15px;

// Layout
$rhythm:            $line_height * 1rem;
$borderRadius:      12px;