// Colours
$black:             #2f2f2f;
$black_light:       #4f4f4f;
$black_lightest:    #6f6f6f;
$gray:              #999;
$gray_light:        #bebebe;
$gray_lightest:     #cecece;
$off_white:         #eee;

$yellow:            #fff200;
$purple:            #59384c;
$blue:              #4e8cb1;
$blue_dark:         #326a8c;
$blue_gray:         #829dad;

// Rhythm

// Typography
$font_body:         "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
$font_header:       "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
$font_size:         18px;
$line_height:       1.5;
$font_size--mobile: 15px;

// Layout
$rhythm:            $line_height * 1rem;
$borderRadius:      12px;