---
layout:                work
date:                  2017-12-12
categories:    
- work
siteNav: work
featured: true

hero_css: "background: rgb(36, 68, 121); color: white;"

jumpLinks:
  - url: launch
    text: "From concept to launch in 8 weeks"
    icon: time
  - url: dataviz
    text: "Designing insightful data visualisations"
    icon: data-viz
  - url: brand
    text: "Crafting a coherent product suite and brand"
    icon: paint
  - url: css
    text: "Coding a custom BEM-based CSS framework"
    icon: code

hero_title:            "Lowering the barrier of entry for medicine"
hero_image:            /assets/images/work/medify/hero.png

subhero_title:         "Serving 1 in 3 UK medical students"
subhero_subtitle:      "Medify levels the playing field"
subhero_description:   "<p>Medify provides everything an aspiring medic needs to get into medical school. From preparing for exams to writing and reviewing essays, Medify covers more of the timeline than any other company.</p><p>They initially approached me to design and develop a new product, the <em>BMAT Grader</em>. We launched that after 8 weeks. Then we rebranded, unified their entire product suite, and designed and launched a few more products.</p><p>Their sales have more than doubled, and the competition is scrambling to keep up. Which just raises the bar for everyone.</p>"
subhero_button_link:   https://www.medify.co.uk/

thumbnail:             /assets/images/work/medify/thumbnail.jpg
thumbnail_ratio:       53.125
image:                 /assets/images/work/medify/medify-user.gif

is_caseStudy:          true

role:                  "Lead Design & Front-end Development"
description:           "SurgeMaker GPS is a B2B SaaS web application that visualizes the improvements made by teams under coaching and helps inform executives' decisions by drawing insights from data."
description_short:     "We designed this complex B2B web application for just $50,000."
---

<section class="Page-section" id="launch">
	<h2 class="m-bottom--lg">
		<p>From concept to product launch in 8 weeks</p>
		<p class="font-serif color-muted">Something something subtitle</p>
	</h2>
	<div class="grid">
		<div class="grid-item when-lg-6">
			{% include carousel.html style="left" image1="/assets/images/work/medify/carousel/carousel-1.png" image2="/assets/images/work/medify/carousel/carousel-2.png" image3="/assets/images/work/medify/carousel/carousel-3.png" image4="/assets/images/work/medify/carousel/carousel-4.png" image5="/assets/images/work/medify/carousel/carousel-5.png" description="A timelapse of the designs for the BMAT product. The second-to-last frame shows what we launched with. The last frame shows what we launched with the following year, after completing the product suite unification project." %}
		</div>

		<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0">
			<p>Nullam quis risus eget urna mollis ornare vel eu leo. Sed posuere consectetur est at lobortis.</p>
		</div>
	</div>
</section>

<section class="Page-section" id="dataviz">
	<h2 class="m-bottom--lg">
		<p>Designing insightful data visualisations</p>
		<p class="font-serif color-muted">Not just a pretty datum</p>
	</h2>
	<div class="grid">
		<div class="grid-item when-lg-6">
			{% include video.html style="left" url="/assets/images/work/medify/data-viz.mp4" description="We took a great deal of time and care preparing data visualisations that would be helpful and insightful, not just pretty. Repeated iterations of user testing helped us get closer to our goals. This video demonstrates some of the small UI interactions." %}
		</div>

		<div class="grid-item when-lg-6 m-top--lg when-lg-m-top--0">
			<p>We then began on the complex task of creating the data visualization “widgets,” each with a unique insight. We began with sketching, wireframing, and prototyping, and then I built the widget templates using HTML, CSS, and JavaScript. The templates were then handed over to the development team to hook into the database.</p>
		</div>
	</div>
</section>

<div class="whitespace-bottom--lg"></div>
<div class="whitespace-bottom--lg"></div>
<div class="whitespace-bottom--lg"></div>
<div class="whitespace-bottom--lg"></div>

## From Concept to Product Launch in 8 Weeks




It can be hard sometimes to convey the value of hiring a freelancer over an in-house, permanent designer. I’ve decided the best way to do this is to be as transparent as possible with the design process of working with a freelancer. So here’s how I helped Medify launch a product in 8 weeks.

We structured both the data visualizations and the visual design in a way that communicated this hierarchy. Data visualizations began at a “zoomed out” level, and as users dived down into areas of interest, the app would animate in and out in 3D space.

{% include image.html style="right" url="/assets/images/work/medify/ui-kit.png" description="We took a great deal of time and care preparing data visualisations that would be helpful and insightful, not just pretty. Repeated iterations of user testing helped us get closer to our goals. This video demonstrates some of the small UI interactions." %}



![iPad][ipad-2]

We finally worked on the visual design together, using quirky typefaces and bold (yet colorblind-friendly) colors and allowing teams to select fun, custom-built avatars to express their identities.

[division]: /assets/images/work/surgemaker/division.png
[team]: /assets/images/work/surgemaker/team.gif
[ipad-1]: /assets/images/work/surgemaker/ipad-1.png
[ipad-2]: /assets/images/work/surgemaker/ipad-2.png