---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Base Settings
@import '1_core/mixins';
@import '1_core/normalize';
@import '1_core/variables';

@import '1_core/fonts';

@import '1_core/spacing';
@import '1_core/containers';

@import '1_core/grid';
@import '1_core/flexGrid';
@import '1_core/icons';
@import '1_core/typography';

// Components
@import '2_components/defaults';
@import '2_components/figure';
@import '2_components/image';
@import '2_components/video';
@import '2_components/carousel';
@import '2_components/buttons';
@import '2_components/inputs';
@import '2_components/media';
@import '2_components/loading';
@import '2_components/instantClick';

// // Plugins
// @import 'plugins/instantClick';

// // Modules
@import '3_modules/Page';
@import '3_modules/Navbar';
@import '3_modules/Footer';
@import '3_modules/Essay';
@import '3_modules/Post';
// @import 'modules/form';
// @import 'modules/heroText';
// @import 'modules/home';
// @import 'modules/input';
// @import 'modules/latestWork';
// @import 'modules/modal';
// @import 'modules/services';
// @import 'modules/siteNavigation';
// @import 'modules/social';
// @import 'modules/work';
// @import 'modules/animation';

// // Utilities
@import '4_utilities/color';
@import '4_utilities/font';
@import '4_utilities/display';
@import '4_utilities/layout';
@import '4_utilities/text';