.HeroText {
	@include flexbox();
	@include align-items(flex-start);
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}
.HeroText-left {
	width: 320px;
}
.HeroText-hello {
	margin-left: 5px;
	margin-bottom: 5px;
}
.HeroText-title {
	margin-top: 0;
	line-height: 1;
	text-align: right;
}
.HeroText-right {
	@include flex-grow(1);
	font-size: 1.25rem;
	line-height: 2rem;
	margin-top: 61px;
	padding-left: $rhythm;
}
@media (max-width: 1023px) {
	.HeroText-right {
		margin-top: 51px;
	}
}
@media (max-width: 767px) {
	.HeroText {
		display: block;
	}
	.HeroText-left {
		width: 100%;
	}
	.HeroText-title {
		text-align: left;
	}
	.HeroText-hello {
		margin-left: 2px;
		margin-bottom: 2px;
	}
	.HeroText-right {
		margin-top: 0;
		padding-left: 0;
		padding-top: $rhythm / 2;
		max-width: 530px;
	}
}