.Home-wrapper {
	width: 65%;
	padding: 1rem $rhythm;
	min-height: calc(100vh - 49px);
	@include flexbox();
	@include flex-direction(column);
	@include justify-content(center);
}
.Home-me {
	width: 30%;
	background-color: #32394c;
	background-image: url('/assets/images/home/new_me.jpg');
	background-size: cover;
	background-position: 40% 50%;
	margin-top: 0;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
}
.Home-laptop {
	width: 150px;
	img {
		border-radius: 0;
		max-width: none;
		max-height: none;
		margin: 6px -10px 0;
		width: 180px;
		height: auto;
	}
}

@media (max-width: 1600px) {
	.Home-wrapper {
		width: 70%;
	}
}

@media (max-width: 1280px) {
	.Home-wrapper {
		width: 75%;
	}
	.Home-me {
		width: 25%;
	}
}

@media (max-width: 1080px) {
	.Home-wrapper {
		width: 100%;
	}
	.Home-me {
		display: none;
	}
}
@media (max-width: 1023px) {
	.Home-wrapper {
		display: block;
	}
}

@media (max-width: 400px) {
	.Home-laptop {
		width: 130px;
		img {
			width: 150px;
		}
	}
}