.m-input-wrapper {
	* + * {
		margin-top: 0;
	}
	&.is-focused {
		.m-input-label {
			color: rgba(white, 0.85);
		}
		.m-input:after {
			left: 0;
			@include prefix(transition, left 0.15s);
		}
		.m-input-label:after,
		.m-input-placeholder {
			right: 100%;
			@include prefix(transition, right 0.15s);
		}
	}
}
.is-notEmpty {
	.m-input-label {
		color: rgba(white, 0.5);
		&:after {
			right: 100%;
		}
	}
	.m-input-placeholder {
		display: none;
	}
}
.m-input-wrapper--hasError {
	input,
	textarea {
		border-color: $yellow;
	}
	.m-input-error {
		display: block;
	}
}
textarea {
	resize: none;
	&:focus {
		outline: none;
	}
}
input,
textarea {
	display: block;
	width: 100%;
	-webkit-appearance: none;
    border-radius: 0;
	background: none;
	border: none;
	font-weight: 500;
	padding: 8px 4px 2px;
	box-shadow: 0 1px 0 transparent;

	color: white;
	&:-webkit-autofill {
		-webkit-text-fill-color: white;
	    -webkit-box-shadow: 0 0 0 100px $blue inset;
	}
}
textarea {
	line-height: 1.3;
	padding-top: 7px;
	padding-bottom: 0;
}
.m-input {
	font-family: $font_header;
	position: relative;
	border-bottom: 2px solid $blue-inputUnderline;
	&:after {
		content: '';
		display: block;
		position: absolute;
		left: 100%;
		right: 0;
		bottom: -2px;
		height: 2px;
		background: $blue-inputUnderline--highlight;
	}
}
input,
textarea,
.m-input-label,
.m-input-placeholder,
.m-input-error {
	cursor: pointer;
}
.m-input-label {
	position: relative;
	display: block;
	font-size: 14px;
	line-height: 1;
	color: rgba(white, 0.85);
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: -1px;
		left: 0;
		right: 0;
		bottom: -2px;
		background: $blue;
	}
	margin-bottom: -2px;
	background: $blue;
	z-index: 1;
}
.m-input-placeholder {
	position: absolute;
	top: 0;
	padding-top: 5px;
	left: 4px;
	right: 4px;
	bottom: 1px;
	color: rgba(white, 0.35);
	font-weight: 500;
	background: $blue;
	white-space: nowrap;
	overflow: hidden;
}
.m-input-error {
	display: none;
	margin-top: 2px;
	color: $yellow;
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
}

::-webkit-input-placeholder {
	color: rgba(white, 0.35);
}
::-moz-placeholder {
	color: rgba(white, 0.35);
}
:-ms-input-placeholder {  
	color: rgba(white, 0.35);
}

@media (max-width: 767px) {
	.m-input {
		&:after {
			bottom: -0.5px;
			height: 1.5px;
		}
	}
	.m-input-label {
		font-size: 12px;
		margin-bottom: 0;
	}
	.m-input-error {
		font-size: 10px;
	}
	input,
	textarea,
	.m-input-placeholder {
		font-size: 16px;
	}
}