button {
	background: none;
	border: none;
}
.btn {
	position: relative;
	font-size: 1.5rem;
	line-height: 1.1;
	display: inline-block;
	background: none;
	color: $blue;
	text-transform: none;
	.no-touch &:hover,
	.no-touch &:focus,
	.touch &:active {
		background: none;
		color: $blue;
		&:after {
			background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* FF3.6+ */
			background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* IE10+ */
			background: linear-gradient(to top,          transparent 0%, transparent 6%, $blue 6%, $blue 12%, transparent 12%, transparent 100%); /* W3C */
		}
	}
	&:before,
	&:after {
		content: attr(data-text);
	}
	&:before {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 1;
	}
	&:after {
		position: relative;
		display: inline;
		color: transparent;
		background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, rgba($blue, 0.5) 6%, rgba($blue, 0.5) 12%, transparent 12%, transparent 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, rgba($blue, 0.5) 6%, rgba($blue, 0.5) 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, rgba($blue, 0.5) 6%, rgba($blue, 0.5) 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, rgba($blue, 0.5) 6%, rgba($blue, 0.5) 12%, transparent 12%, transparent 100%); /* IE10+ */
		background: linear-gradient(to top,          transparent 0%, transparent 6%, rgba($blue, 0.5) 6%, rgba($blue, 0.5) 12%, transparent 12%, transparent 100%); /* W3C */
		-webkit-text-stroke: 5px white;
	}
	&[data-visited] {
		background: none;
		color: inherit;
		&:after {
			background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* FF3.6+ */
			background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* IE10+ */
			background: linear-gradient(to top,          transparent 0%, transparent 6%, rgba($black_light, 0.33) 6%, rgba($black_light, 0.33) 12%, transparent 12%, transparent 100%); /* W3C */
		}
	}
	&[disabled],
	&.disabled {
		cursor: default;
		color: $gray !important;
		&:after {
			background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, rgba($gray, 0.5) 6%, rgba($gray, 0.5) 12%, transparent 12%, transparent 100%) !important; /* FF3.6+ */
			background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, rgba($gray, 0.5) 6%, rgba($gray, 0.5) 12%, transparent 12%, transparent 100%) !important; /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, rgba($gray, 0.5) 6%, rgba($gray, 0.5) 12%, transparent 12%, transparent 100%) !important; /* Opera 11.10+ */
			background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, rgba($gray, 0.5) 6%, rgba($gray, 0.5) 12%, transparent 12%, transparent 100%) !important; /* IE10+ */
			background: linear-gradient(to top,          transparent 0%, transparent 6%, rgba($gray, 0.5) 6%, rgba($gray, 0.5) 12%, transparent 12%, transparent 100%) !important; /* W3C */
		}
		&:active {
			top: 0;
		}
	}
	* + & {
		margin-top: 1.5em;
	}
}
.btn--sm {
	font-size: 1.25rem;
	line-height: 1.25;
}
.btn--modal {
	color: white;
	&:after {
		background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, rgba(white, 0.5) 6%, rgba(white, 0.5) 12%, transparent 12%, transparent 100%); /* FF3.6+ */
		background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, rgba(white, 0.5) 6%, rgba(white, 0.5) 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, rgba(white, 0.5) 6%, rgba(white, 0.5) 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, rgba(white, 0.5) 6%, rgba(white, 0.5) 12%, transparent 12%, transparent 100%); /* IE10+ */
		background: linear-gradient(to top,          transparent 0%, transparent 6%, rgba(white, 0.5) 6%, rgba(white, 0.5) 12%, transparent 12%, transparent 100%); /* W3C */
	}
	.no-touch &:focus,
	.no-touch &:hover,
	.touch &:active {
		color: white;
		&:after {
			background: -moz-linear-gradient(bottom,     transparent 0%, transparent 6%, white 6%, white 12%, transparent 12%, transparent 100%); /* FF3.6+ */
			background: -webkit-linear-gradient(bottom,  transparent 0%, transparent 6%, white 6%, white 12%, transparent 12%, transparent 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(bottom,       transparent 0%, transparent 6%, white 6%, white 12%, transparent 12%, transparent 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(bottom,      transparent 0%, transparent 6%, white 6%, white 12%, transparent 12%, transparent 100%); /* IE10+ */
			background: linear-gradient(to top,          transparent 0%, transparent 6%, white 6%, white 12%, transparent 12%, transparent 100%); /* W3C */
		}
	}
	&:after {
		-webkit-text-stroke: 5px $blue;
	}
}
.btn-footer {
	display: block;
	text-align: center;
	padding: $rhythm * 5 0;
	&,
	&[data-visited] {
		background: none;
	}
	@include prefix(transition, background 1s);
	.btn {
		margin-top: 0;
		font-size: 2rem;
		@include prefix(transition, border-color 1s);
		&:before,
		&:after {
			@include prefix(transition, all 1s);
		}

	}
	.no-touch &:hover,
	.no-touch &:focus,
	.touch &:active {
		background: $blue;
		border: none;
		.btn {
			color: white;
			border-color: white;
			&:after {
				-webkit-text-stroke-color: $blue;
			}
		}
	}

	&.is-hasImage {
		.btn {
			margin-top: 0;
			&:after {
				display: none;
			}
		}
		.no-touch &:hover,
		.no-touch &:focus,
		.touch &:active {
			.btn-footer-image {
				opacity: 1;
			}
		}
	}
}
.btn-footer-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-size: cover;
	background-position: center;
	@include prefix(transition, opacity 1s);
}


@media (max-width: 767px) {
	.btn {
		font-size: 1.2rem;
		line-height: 1.25;
		&:after {
			border-width: 2px;
			-webkit-text-stroke: 4px white;
		}
	}
	.btn--modal:after {
		-webkit-text-stroke: 4px $blue;
	}
	.btn--small {
		font-size: inherit;
	}
	.btn-footer {
		padding: $rhythm * 2 0;
		.btn {
			font-size: 1.5rem;
		}
	}
}