button {
	background: none;
	border: none;
}
.btn {
	position: relative;
	font-size: 1.5rem;
	line-height: 1.1;
	display: inline-block;
	white-space: nowrap;
	color: $blue;
	border-bottom: 3px solid rgba($blue, 0.5);
	text-transform: none;
	.no-touch &:hover,
	.no-touch &:focus,
	.touch &:active {
		border-color: initial;
	}
	&:before,
	&:after {
		content: attr(data-text);
	}
	&:before {
		position: relative;
		z-index: 1;
	}
	&:after {
		position: absolute;
		left: 0;
		right: 0;
		top: 0px;
		color: transparent;
		-webkit-text-stroke: 5px white;
	}
	&:visited {
		color: inherit;
		border-color: rgba($black_light, 0.33);
	}
	&[disabled],
	&.disabled {
		cursor: default;
		color: $gray;
		border-color: rgba($gray, 0.5) !important;
		&:active {
			top: 0;
		}
	}
	* + & {
		margin-top: 1.5em;
	}
}
.btn--sm {
	font-size: 1.25rem;
	border-bottom-width: 2px;
}
.btn--modal {
	color: white;
	border-bottom-color: rgba(white, 0.5);
	.no-touch &:hover,
	.touch &:active {
		color: white;
	}
	&:after {
		-webkit-text-stroke: 5px $blue;
	}
}
.btn-footer {
	display: block;
	text-align: center;
	padding: $rhythm * 5 0;
	background: none;
	border: none;
	@include prefix(transition, background 1s);
	.btn {
		margin-top: 0;
		font-size: 2rem;
		@include prefix(transition, border-color 1s);
		&:before,
		&:after {
			@include prefix(transition, all 1s);
		}

	}
	&:hover {
		background: $blue;
		border: none;
		.btn {
			color: white;
			border-color: white;
			&:after {
				-webkit-text-stroke-color: $blue;
			}
		}
	}

	&.is-hasImage {
		.btn {
			margin-top: 0;
			&:after {
				display: none;
			}
		}
		&:hover {
			.btn-footer-image {
				opacity: 1;
			}
		}
	}
}
.btn-footer-image {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	background-size: cover;
	background-position: center;
	@include prefix(transition, opacity 1s);
}


@media (max-width: 767px) {
	.btn {
		font-size: 1.25rem;
		line-height: 1.15;
		border-width: 2px;
		&:after {
			-webkit-text-stroke: 4px white;
		}
	}
	.btn--modal:after {
		-webkit-text-stroke: 4px $blue;
	}
	.btn--small {
		font-size: inherit;
	}
	.btn-footer {
		padding: $rhythm * 2 0;
		.btn {
			font-size: 1.5rem;
		}
	}
}