p {
	color: $black_light;
}
a {
	position: relative;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	border-bottom: 2px solid rgba($blue, 0.33);
	&:hover {
		color: $blue;
		border-color: $blue;
	}
	&:active {
		top: 1px;
	}
	@include noSelect();
}