body {
	overflow-x: hidden;
}
p {
	color: $black_light;
}
a {
	position: relative;
	display: inline-block;
	line-height: 1.2;
	border-bottom: 2px solid rgba($blue, 0.33);
	
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	margin-top: 0;
	.no-touch &:hover,
	.touch &:active {
		color: $blue;
		border-color: initial;
	}
	&:visited {
		border-color: rgba($black_light, 0.33);
		.no-touch &:hover,
		.touch &:active {
			color: $blue;
		}
	}
	@include noSelect();
}
a,
button {
	position: relative;
	&:active {
		top: 1px;
	}
}
img,
video {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
}
video {
	height: auto;
}
figcaption {
	margin-top: 0;
	text-align: center;
	font-size: $rhythm / 2;
	color: $gray;
}
ol,
ul {
	margin-top: 0;
	&:not(.u-listUnstyled):not(.u-listInline) {
		padding-left: $rhythm;	
	}
	> li {
		margin-top: $line_height / 4 * 1em;
	}
}

// When selecting a text, it does this:
::selection {
    color: $blue_dark;
    background: $yellow;
    background: rgba($yellow, 0.25); /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: $blue_dark;
    background: $yellow;
    background: rgba($yellow, 0.25); /* Gecko Browsers */
}


input::selection {
    color: white;
    background: none;
    background: rgba(white, 0.15); /* WebKit/Blink Browsers */
}
input::-moz-selection {
    color: white;
    background: none;
    background: rgba(white, 0.15); /* Gecko Browsers */
}