p {
	color: $black_light;
}
a {
	position: relative;
	display: inline-block;
	line-height: 1.2;
	border-bottom: 2px solid rgba($blue, 0.33);
	
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	margin-top: 0;
	&:hover {
		color: $blue;
		border-color: $blue;
	}
	&:active {
		top: 1px;
	}
	@include noSelect();
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
blockquote {
	font-family: "Charter";
	font-style: italic;
	font-size: 1.25rem;
	margin-left: -1.5rem;
	padding: 0.75rem 1.5rem;
	color: $blue_gray;
	border-left: 4px solid $blue_dark;
	@include clearfix();
}
figcaption {
	margin-top: 0;
	text-align: center;
	font-size: $rhythm / 2;
	color: $gray;
}
ul {
	margin-top: 0;
	padding-left: $rhythm;
	> li {
		margin-top: $line_height / 4 * 1em;
	}
}
// When selecting a text, it does this:
::selection {
    color: $blue_dark;
    background: $yellow;
    background: rgba($yellow, 0.25); /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: $blue_dark;
    background: $yellow;
    background: rgba($yellow, 0.25); /* Gecko Browsers */
}