p {
	color: $black_light;
}
a {
	position: relative;
	text-decoration: none;
	cursor: pointer;
	color: inherit;
	border-bottom: 2px solid rgba($blue, 0.33);
	&:hover {
		color: $blue;
		border-color: $blue;
	}
	&:active {
		top: 1px;
	}
	@include noSelect();
}
img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
figcaption {
	margin-top: 0;
	text-align: center;
	font-size: $rhythm / 2;
	color: $gray;
}
ul {
	margin-top: 0;
	padding-left: $rhythm;
	> li {
		margin-top: $line_height / 4 * 1em;
	}
}