*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
* + * {
	margin-top: $line_height * 1em;
}
* + .margin--xl {
	margin-top: $line_height * 3em;
}
* + .margin--lg {
	margin-top: $line_height * 2em;
}
* + .margin--sm {
	margin-top: $line_height / 2 * 1em;
}
* + .margin--none {
	margin-top: 0;
}
.margin-bottom {
	margin-bottom: $line_height * 1em;
}

.container,
.container--sm {
	margin-left: auto;
	margin-right: auto;
}
.container {
	max-width: 1440px;
}
.container--sm {
	max-width: 768px;
}
.padding {
	padding: $rhythm;
}
.padding--lg {
	padding: $rhythm * 2;
}
.padding--sm {
	padding: $rhythm / 2;
}
@media (max-width: 767px) {
	.padding--lg {
		padding: $rhythm;
	}
	.padding,
	.padding--sm {
		padding: $rhythm / 2;
	}
}