---
layout: default
body-id: work
---

<div class="padding--lg margin--none">
	<div class="m-animation-1">
		<h1 class="m-post-title">{{ page.title }}</h1>
		<h5 class="u-text--center margin--none">
			{% if page.role %}
				{{ page.role }}
			{% else %}
				{{ page.date | date: "%-d %b, %Y" }}
			{% endif %}
		</h5>
	</div>

	<div class="m-post-content">
		<div class="container--sm">
			{{ content }}
		</div>

		{% if page.siteNav == 'blog' %}
			<section class="margin--lg">
				{% include newsletter.html %}
			</section>

			<p class="margin--lg container--sm">If you've got any alternative solutions to this problem, or want to suggest a new problem for me to tackle, please drop me a line at <a href="mailto:{{ site.email }}">{{ site.email }}</a>.</p>
		{% endif %}
	</div>
</div>

{% if page.nextOne_link %}
	<a class="btn-footer is-hasImage" href="/work/{{page.nextOne_link}}">
		<div class="btn-footer-image" style="background-image: url(/assets/images/work/{{page.nextOne_img}})"></div>
		<span class="btn" data-text="Next"></span>
	</a>
{% elsif page.siteNav == 'work' %}
	<a class="btn-footer" href="/work/">
		<span class="btn is-noImage" data-text="See more work"></span>
	</a>
{% elsif page.siteNav == 'blog' %}
	<a class="btn-footer" href="/design-solutions/">
		<span class="btn is-noImage" data-text="Read more posts"></span>
	</a>
{% endif %}


{% if page.categories[work] %}
poop
{% endif %}