---
layout: default
body-id: work
---

<div class="padding--lg margin--none">
	<div class="container--sm">
		<div class="u-textCenter">
			<h1 class="m-page-title">{{ page.title }}</h1>
			<h5 class="u-text--center margin--none hidden">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</h5>
			<h5 class="u-text--center margin--none">Role: {{ page.role }}</h5>
		</div>

		<div class="m-page-content">
			{{ content }}
		</div>
	</div>
</div>

{% if page.nextOne_link %}
	<a class="btn-footer is-hasImage" href="/work/{{page.nextOne_link}}">
		<div class="btn-footer-image" style="background-image: url(/assets/images/work/{{page.nextOne_img}})"></div>
		<span class="btn" data-text="Next"></span>
	</a>
{% else %}
	<a class="btn-footer" href="/work/">
		<span class="btn is-noImage" data-text="See More Work"></span>
	</a>
{% endif %}