html {
	font-family: $font_body;
	font-size: $font_size;
	line-height: $line_height;
	color: $black_light;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font-family: $font_header;
	font-weight: bold;
	text-rendering: optimizeLegibility;
}
h1,
.h1 {
	font-size: 4rem;
	line-height: $line_height--header;
	color: $black;
	text-align: center;
}
h2,
.h2 {
	font-size: 3rem;
	line-height: $line_height--header;
	color: $black;
}
h3,
.h3 {
	font-size: 2rem;
	font-weight: 500;
	line-height: $line_height--header;
	color: $black;
}
h4,
.h4 {
	font-size: 1.5rem;
	line-height: $line_height--header;
	font-weight: 600;
	color: $black;
}
h5,
.h5 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: normal;
	color: $black;
}
h6,
.h6 {
	font-size: $rhythm / 2;
	font-weight: normal;
	color: $gray;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	+ p {
		margin-top: $line_height * 1em / 12;
	}
}
blockquote {
	font-family: $font_serif;
	font-style: italic;
	font-size: 1.25rem;
	margin-left: -$rhythm;
	padding: $rhythm/2 $rhythm;
	color: $blue;
	border: 3px solid $blue;
	@include clearfix();
}
.underline {
	text-decoration: underline;
}

@media (max-width: 1023px) {
	html {
		font-size: $font_size--mobile;
	}
	h3,
	.h3 {
		font-size: 1.5rem;
	}
}

@media (max-width: 767px) {
	h1,
	.h1 {
		font-size: 2rem;
	}
	h2,
	.h2 {
		font-size: 1.5rem;
	}
	h3,
	.h3 {
		font-size: 1.25rem;
	}
	blockquote {
		margin-left: -$rhythm/2;
		margin-right: -$rhythm/2;
		padding: $rhythm/2;
		border-left-width: 0;
		border-right-width: 0;
	}
}

@font-face {
    font-family: 'Charter';
    src: url('/assets/fonts/charter_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Charter';
    src: url('/assets/fonts/charter_bold_italic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/gordita-medium.woff2') format('woff2'),
         url('/assets/fonts/gordita-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gordita';
    src: url('/assets/fonts/gordita-bold.woff2') format('woff2'),
         url('/assets/fonts/gordita-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}