// Colours
$black:             #2f2f2f;
$black_light:       #4f4f4f;
$black_lightest:    #6f6f6f;
$gray:              #999;
$gray_light:        #bebebe;
$gray_lightest:     #cecece;
$off_white:         #eee;

$yellow:            #fff200;
$purple:            #675f87;
$blue:              #4e8cb1;
$blue_dark:         #005d82;
$blue_light:        #73c5e6;
$yellow:            #ffd200;

$blue:              #1f75ed;
$green:             #56c080;
$red:               #c05680;

$green_text:        #26a657;

// Inputs
$blue-inputUnderline: #9DCBF1;
$blue-inputUnderline--highlight: #C6E3FB;
// Rhythm

// Typography
$font_body:         "Soleil", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
$font_header:       "futura-pt", "Futura PT", "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, Arial;
$font_serif:        "Charter", Georgia, serif;
$font_size:         18px;
$line_height:         1.5;
$line_height--header: 1.1;
$font_size--mobile: 15px;

// Layout
$rhythm:            $line_height * 1rem;
$borderRadius:      12px;